--find-links https://data.pyg.org/whl/torch-2.1.0+cu121.html

# --- Heavy Dependencies ---
# These will now be pulled from the link above instead of compiled
setuptools
matplotlib
numpy
cupy-cuda12x
numba
protobuf
pandas
scipy
torch
# --- Your other project dependencies ---
gpytorch
tqdm
ipython
scikit-learn
scikit-image
imageio
tables
ipympl
pyarrow
fastdist
wandb
torch_geometric
torchvision
jaxtyping
IPython
bg-atlasapi